.InputGroup {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.Input {
  border-radius: 8px;
  border: 2px solid black;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0px 10px;
  margin: 5px;
  height: 45px;
  line-height: 1.5;
}

.Input::placeholder {
  opacity: 0.5;
  font-size: 15px;
  letter-spacing: 1px;
}

.Label {
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 10px;
}
